/* Styling for basic website */


* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 0px;
  background:#202020;
}

.content {
    width: 75%;
    margin: 0 auto;
}

.top-logo{
    margin: 0px;
    padding: 1px;
    background: #000;
}

.top-logo h1{
    color: #dfdfdf;
    text-align: center;
}

/* Header/Blog Title */
.header {
    background: url('images/blue_background.jpg') no-repeat center;
    background-size: cover;
    padding: 40px 0px;
    color: #dfdfdf;
}

.header h1 {
  font-size: 50px;
  text-align: center;
}

.header p {
  font-size: 16px;
  text-align: center;
}

/* Navigation Bar*/

span {
    color: #3492be;
    font-weight: bold;
    text-align: center;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    display: inline-block;
    padding: 0 10px;
}

label {
    margin: 0px 40px 0px 0px;
    font-size: 50px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
    color: #3492be;
}
#toggle {
    display: none;
}

/* Style the top navigation bar */
.topnav {
  background-color: #333;
}

/* Center Nav Bar */

.topnav .menu {
  text-align: center;
} 

/* Style the topnav links */
.topnav a {
  display: inline-block;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: #1a1a1a;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

#card .button {
  background-color: none;
  border: 2px solid #fff;
  color: #dfdfdf;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 4px auto;
  cursor: pointer;
}

#card a:hover {
  color: #1a1a1a;
  background-color: #aaa;
}

/* Add a card effect for articles */
#card {
  color: #dfdfdf;
  background-color: #1a1a1a;
  padding: 20px;
  margin-top: 20px;
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.content:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #dfdfdf;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .content {   
    width: 100%;
    padding: 0;
  }
    
  #card {
    width: 100%;
    
}

  #card .button {
  background-color: none;
  border: 2px solid #fff;
  color: #dfdfdf;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 4px 9%;
  cursor: pointer;
}
    
    label {
        display: block;
        cursor: pointer;
        margin: 0px;
        position: absolute;
        right: 40px;
        top: 5px;
 }

    .menu {
        text-align: center;
        width: 100%;
        display: none;
 }

    .menu a {
        display: block;
        border-bottom: .5px solid #EAEAEB;
        margin: 0;

 }

    #toggle:checked + .menu {
        display: block;
 }

    .menu li {
    text-align: center;
    display: inline;
    padding: 0 0px;
}

    
/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {    
 .topnav a {
  display: block;
  width: 100%;
}
    
 .content {   
    width: 100%;
    padding: 0;
  }
  #card {
    width: 100%;    
}
    
  #card .button {
  background-color: none;
  border: 2px solid #fff;
  color: #dfdfdf;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 4px auto;
  cursor: pointer;
}

.menu {
    text-align: center;
    width: 100%;
    display: none;
}
    

.menu a {
    display: block;
    border-bottom: .5px solid #EAEAEB;
    padding: 10px 0px;

}
    
    }

